.navbar-nav .nav-link {
    color: #6A1B9A !important;
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    color: #6A1B9A;
}

.mt-4{
	color: #000;
	font-size: 24px;
	font-weight: 700;
}

.text-filtro{
	font-weight: 700;
	padding-top: 5px;
}

.box{
	background: #EFEFEF;
    padding: 15px 25px;
    position: relative;
    margin-bottom: 18px;
}

.distrito{
	background: #C4C4C4;
    padding: 5px 10px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.nombre{
	font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.titular{
	margin: 0;
    font-weight: 500;
    color: #727272;
}

.leer-mas{
	display: block;
}

textarea.form-control {
    min-height: 150px;
}

.t-denuncia{
	color: #6A1B9A;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 700;
}

.btn-color{
	background: #6A1B9A;
	font-weight: 700;
	color: #fff;
	padding-left: 40px;
	padding-right: 40px;
}
.btn-color:hover{
	background: #ffffff;
	color: #6A1B9A;
}

.btn-enviar{
	margin: 20px auto 40px;
}

.mensaje {
    position: fixed;
    bottom: 65%;
    right: 0;
}
.color-base{
    background: #6A1B9A;
    color:#fff;
    padding: 30px;
}
.dato-general{
    margin: 0;
    font-size: 50px;
    background: #6A1B9A;
}
.datos{
    font-size: 24px;
}
.datos span{
    font-size: 16px;
}
footer.bg-dark {
    background: #1b1b1b !important;
}